---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="FarfetchDev" description="Perfil de Farfetchdev">
    <main class="w-full h-full p-3">
        <h1>Home</h1>
    </main>
</AppLayout>
